<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>plugin home</title>
  </head>
  <body>
     插件主页
     <div id="test">
       <day-picker></day-picker>
     </div>
     <script src="/3th-part/jquery-1.10.2.min.js"></script>
     <script src="/js/plugin/index.js"></script>
  </body>
</html>
