<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home/index.css"/>
    <title>home page</title>
  </head>
  <body>
    <h1>this is a homepage</h1>
    <div id="test">

    </div>
    <button class="sign-out">
      <a href="/account/signout">sign out</a>
    </button>
    <script type="text/javascript" src="/js/home/index.js"></script>
  </body>
</html>
